<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Meet Chris Hauser</title>
</head>
<body>
  <a href="https://www.rhsmith.umd.edu/">
   <img src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png"
        width="267" height="72" alt="Smith Logo">
</a>
    <h1>About Me</h1>
    <main>
        <section>
            <h2>Intro</h2>
            <p>Welcome to my webpage! My name is Chris Hauser, and I'm currently a Finance and Information Systems Student at the University of Maryland.</p>
        </section>
{#        Included page break#}
        <section>
            <h2>Background Info</h2>
            <p>As I said before, I am pursuing a degree in Finance and Information Systems from UMD. With this degree, I will be working as a Financial Management consultant in the Defense and Security segment at Guidehouse. Aside from school and work, I enjoy spending time with friends and family, as well as working out.</p>
        </section>
               <h2>Coursework</h2>
        <table>
            <tr>
                <th><em>Course</em></th>
                <th><em>Semester</em></th>
            </tr>
            <tr>
                <td>BMGT301</td>
                <td>Fall 2021</td>
            </tr>
            <tr>
                <td>BMGT402</td>
                <td>Fall 2022</td>
            </tr>
            <tr>
                <td>BMGT403</td>
                <td>Spring 2023</td>
            </tr>
        </table>

       <strong> My favorite courses</strong>
        <ol>
             <li>BMGT407</li>
             <li>BMGT403</li>
             <li>BMGT402</li>
             <li>BMGT301</li>
        </ol>
        <strong>Some skills I have learned</strong>
        <ul>
            <li>SQL</li>
            <li>Excel</li>
            <li>Java</li>
            <li>Python</li>
            <li>Visio</li>
        </ul>
{#        Listed favorite sites w/ hyperlink#}
        <p>Here are some of my favorite websites:</p>
            <ul>
                <li><a href="http://youtube.com">Youtube</a></li>
                <li><a href="http://instagram.com" target="_blank">Instagram</a></li>
            </ul>
{#        Emphasized the hyperlink to my hello.html#}
        <em>Say <a href="hello">Hello</a> to the World!</em>
    </main>

</body>
</html>